@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContactUs>
@using ContentModels = Umbraco.Web.PublishedModels;
@using System.Threading;

@{
    Layout = "master.cshtml";
    var uiCurrentCulture = Thread.CurrentThread.CurrentUICulture;

}
<style>
    .ContactStyle {
        color: #404040;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 0px;
        font-weight: 700;
        letter-spacing: 7px;
        font-family: dubai_bold;
    }


</style>
@* the fun starts here *@

@{
    var contactMainBanner = Model.Value<IPublishedContent>("contactUsMainBanner");
    var contactUsBackgroundImage = Model.Value<IPublishedContent>("contactUsBackgroundImage");

    if (contactMainBanner != null)
    {
        <div class="container-fluid contact_banner slider-main">
            <div class="row">
                <div class="main-banner">
                    <div class="banner_info inner_banner_info" style="display: block; width: 100%;">
                        <div class="item a inner_banner_item" style="background: url('@contactMainBanner.Url()') center top no-repeat; background-size: cover;">
                            <!-- You can adjust the background-size property based on your design needs -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}


<section class="container-fluid contact_n_map">
    <div class="cont_top_bg"></div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="cont_info_holder" style="background: url('@contactUsBackgroundImage.Url()') no-repeat top left; background-size: cover; margin-right: 25px; ">
                    <div class="cont_info_overlay">
                        <p class="ContactStyle">@Html.Raw("contactUsTitle")</p>
                        <hr>
                        <ul class="cont_info">
                            <li class="cont-address">@Html.Raw(Model.Value("contactUsDescription"))</li>
                           
                            @if (uiCurrentCulture.ToString() == "en-US")
                            {
                                <li class="click-to-enqr">  <a rel="canonical" href="/en/more/Leasing">Leasing Enquiry</a></li>
                            }
                            else
                            {
                                <li class="click-to-enqr">  <a rel="canonical" href="/ar/more/Leasing">التأجير</a></li>
                            }
                        </ul>

                        <div class="cont_social">

                            <ul class="social_links">
                                <li><a rel="canonical" href="@Umbraco.GetDictionaryValue("facebookUrl")" title="facebook" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="15" viewBox="0 0 96.124 96.123"><path d="M72.089.02L59.624 0C45.62 0 36.57 9.285 36.57 23.656v10.907H24.037a1.96 1.96 0 0 0-1.96 1.961v15.803a1.96 1.96 0 0 0 1.96 1.96H36.57v39.876a1.96 1.96 0 0 0 1.96 1.96h16.352a1.96 1.96 0 0 0 1.96-1.96V54.287h14.654a1.96 1.96 0 0 0 1.96-1.96l.006-15.803a1.963 1.963 0 0 0-1.961-1.961H56.842v-9.246c0-4.444 1.059-6.7 6.848-6.7l8.397-.003a1.96 1.96 0 0 0 1.959-1.96V1.98A1.96 1.96 0 0 0 72.089.02z" /></svg></a></li>
                                <li>
                                    <a title="twitter" rel="canonical" href="@Umbraco.GetDictionaryValue("twitterUrl")" target="_blank">
                                        <svg viewBox="0 -47 512.002 512" width="15" xmlns="http://www.w3.org/2000/svg"><path d="M191.012 419.043c-22.14 0-44.93-1.793-67.856-5.387-40.379-6.336-81.254-27.457-92.82-33.781L0 363.289l32.844-10.8c35.902-11.805 57.742-19.13 84.777-30.598-27.07-13.11-47.933-36.692-57.976-67.176l-7.641-23.195 6.266.957A113.939 113.939 0 0 1 44 214.883c-12.934-19.645-19.781-43.649-18.324-64.219l1.437-20.246 12.121 4.695a113.316 113.316 0 0 1-10.98-30.777c-5.293-26.36-.863-54.363 12.476-78.852L51.29 6.102l14.12 16.96c44.66 53.649 101.227 85.473 168.363 94.79-2.742-18.903-.687-37.145 6.114-53.497 7.918-19.039 22.004-35.183 40.722-46.69 20.79-12.778 46-18.97 70.989-17.435 26.511 1.63 50.582 11.563 69.699 28.747 9.336-2.426 16.215-5.016 25.512-8.516 5.593-2.106 11.937-4.496 19.875-7.23l29.25-10.079-19.075 54.477a96.355 96.355 0 0 1 3.91-.254l31.235-1.414-18.461 25.23c-1.059 1.446-1.328 1.856-1.703 2.422-1.488 2.242-3.34 5.032-28.68 38.867-6.344 8.473-9.512 19.508-8.922 31.079 2.246 43.968-3.148 83.75-16.043 118.234-12.195 32.625-31.093 60.617-56.164 83.2-31.023 27.937-70.582 47.066-117.582 56.847-23.054 4.797-47.812 7.203-73.437 7.203zm0 0" /></svg>
                                    </a>
                                </li>
                                <li>
                                    <a rel="canonical" href="@Umbraco.GetDictionaryValue("instagramUrl")" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" viewBox="0 0 512 512"><path d="M352 0H160C71.648 0 0 71.648 0 160v192c0 88.352 71.648 160 160 160h192c88.352 0 160-71.648 160-160V160C512 71.648 440.352 0 352 0zm112 352c0 61.76-50.24 112-112 112H160c-61.76 0-112-50.24-112-112V160C48 98.24 98.24 48 160 48h192c61.76 0 112 50.24 112 112v192z"></path><path d="M256 128c-70.688 0-128 57.312-128 128s57.312 128 128 128 128-57.312 128-128-57.312-128-128-128zm0 208c-44.096 0-80-35.904-80-80 0-44.128 35.904-80 80-80s80 35.872 80 80c0 44.096-35.904 80-80 80z"></path><circle cx="393.6" cy="118.4" r="17.056"></circle></svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cont_feedback_form_holder">
                    <div class="cnt_map_head_contr hidden-xs">
                        <div class="cnt_map_head">
                            find us on map <hr class="cnt_map_hr">
                        </div>
                    </div>
                    <div class='cont_feedback_form'>
                        <h3>LEAVE YOUR FEEDBACK</h3>
                        <p>
                            Want to give us a feedback? Let me know by filling the below form.
                        </p>
                        @Umbraco.RenderMacro("renderUmbracoForm", new { FormGuid = Model.ContactForm.ToString(), FormTheme = "contactus-formtheme", ExcludeScripts = "1" })
                        @*@using (Html.BeginUmbracoForm("SubmitForm", "ContactSurface", FormMethod.Post, new Dictionary<string, object> { { "id", "leas_form1" }, { "class", "cont_form" } }))
                                {
                                    @*<form class="cont_form" id="leas_form1" name="leas_form1">
                                        <div class="col-sm-6 field">
                                            <input type="text" class="required validate[required]" name="fullname" id="fullname" required>
                                            <label for="fullname" class="floating-label">Name<span>*</span></label>
                                            <script>

                                                $('#fullname').on('input', function (e) {
                                                    var x1 = $('#fullname').val();
                                                    $('#1').val(x1);
                                                });
                                            </script>
                                        </div>
                                        <div class="col-sm-6 field">

                                            <input type="text" class="required validate[required]" name="nationality" id="nationality" required>
                                            <label for="nationality" class="floating-label">Nationality</label>
                                            <script>
                                                $("#nationality").on('input', function (e) {
                                                    var x2 = $('#nationality').val();
                                                    $('#2').val(x2);
                                                });
                                            </script>

                                        </div>
                                        <div class="col-sm-6 field">
                                            <input type="text" class="required validate[required,custom[email]]" name="email" id="email" required>
                                            <label for="email" class="floating-label">Email<span>*</span></label>
                                            <script>
                                                $('#email').on('input', function (e) {
                                                    var x3 = $('#email').val();
                                                    $('#3').val(x3);
                                                });
                                            </script>

                                        </div>
                                        <div class="col-sm-6 field">
                                            <input type="text" class="required validate[required]" name="contact" id="contact" required>
                                            <label for="contact" class="floating-label">Contact<span>*</span></label>
                                            <script>
                                                $('#contact').on('input', function (e) {
                                                    var x4 = $('#contact').val();
                                                    $('#4').val(x4);
                                                });
                                            </script>

                                        </div>
                                        <div class="col-sm-6 field">
                                            <input type="text" class="required validate[required]" name="address" id="address" required>
                                            <label for="address" class="floating-label">Address</label>
                                            <script>
                                                $('#address').on('input', function (e) {
                                                    var x5 = $('#address').val();
                                                    $('#5').val(x5);
                                                });
                                            </script>

                                        </div>
                                        <div class="col-sm-6 field">
                                            <button class="next_btn" onclick="jQuery('#leas_form1').validationEngine('validate',{promptPosition : 'bottomLeft:0'})" type="button" id="nxt_btn">next</button>
                                        </div>
                                    @*</form>
                                }
                            @content.GetPropertyValue("contact")*@
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="cont_map_contr hidden-xs">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.647634704113!2d55.779602315019275!3d25.682972883672715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ef60a6a9a7f634d%3A0x24d1990c3ea9f134!2sAl%20Hamra%20Mall!5e0!3m2!1sen!2sin!4v1580983967895!5m2!1sen!2sin" width="600" height="750" style="border:0" allowfullscreen></iframe>
                </div>

                @*<div class="cont_rate">
                        <p>
                            How would you<br>
                            <span>rate us</span> in below catagories?
                        </p>
                        <hr>
                    </div>*@
            </div>
        </div>
    </div>
</section>