@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "master.cshtml";
        var lang = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
}

@* the fun starts here *@

<style type="text/css">
    .brand-box .brand-logo {
        width: 63%;
    }
    .mt-100{
        margin-top:100px;
    }
</style>

<!--Start Main Banner-->
@{
    var mainBannerImg = Model.Value<IPublishedContent>("rewardsMainBanner");
    if (mainBannerImg != null)
    {

        <div class="container header-container slider-main ">
            <div class="row">
                <div class="main-banner mt-100">
                    <div class="banner_info inner_banner_info" style="display: block;width: 100%;">
                        <div class="item a inner_banner_item shopBanner" style="center top no-repeat;">
                            <img src="@mainBannerImg.Url()" alt="@Model.Value("rewardsMainTitle")">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
<!--End Main Banner--><!--Start Search Box-->
<section class="filter-holder mt-100">
    <div class="container-fluid custom-container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="filter-box">
                    <div class="row">
                        <div class="shopTopText">
                            <h2>
                                @Html.Raw(Model.Value("rewardsMainTitle"))
                            </h2>
                        </div>
                        @Html.Raw(Model.Value("rewardsMainDescrip"))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Search Box-->
<!--Start Search Result-->
<section class="search-result">
    <div class="container custom-container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="search-result-container">
                    <div class="row">
                       @{
                            var rewardsLanding = Model.AncestorOrSelf(1).DescendantsOfType("rewardsLanding").FirstOrDefault();
                            if (rewardsLanding!=null)
                            {
                                foreach (var item in rewardsLanding.Children)
                                {
                                    var servThmbImg = item.Value<IPublishedContent>("listingImage");
                                    var idValue = HttpContext.Current.Request.QueryString["Id"];
                                    if (servThmbImg != null)
                                    {
                                        int id;
                                        if (int.TryParse(idValue, out id))
                                        {
                                            <div class="col-md-3  @(item.Id==id ? "visible" : "hidden")">
                                                <div class="brand-box">
                                                    @{
                                                        var itemURL = item.Url();
                                                        IPublishedContent servItemlink = item.Value<IPublishedContent>("redirectPageLink");
                                                        if (servItemlink != null)
                                                        {
                                                            var servItemlinkType = servItemlink.Url();
                                                            itemURL = string.IsNullOrEmpty(servItemlinkType) ? null : servItemlinkType == null ? "" : servItemlinkType;
                                                        }
                                                    }
                                                    @if(item.Id == 1776)
                                                    {   
                                                        if(lang == "ar")
                                                        {
                                                            <a href="https://aldarhospitality.com/ar/darna-loyalty-program" class="gtm-track-more-event" name="@Model.Value("rewardsMainTitle")-KnowMore" target="_blank">
                                                                <div class="prod-name">
                                                                    @Html.Raw(item.Value("rewardsContentTitle"))
                                                                </div>
                                                                <div class="brand-logo">
                                                                    <img src="@servThmbImg.Url()" alt="@item.Value("rewardsContentTitle")" />
                                                                </div>
                                                                <div class="sale-cont">
                                                                    <strong>@Umbraco.GetDictionaryValue("ReadMore")</strong>
                                                                </div>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="https://aldarhospitality.com/darna-loyalty-program" class="gtm-track-more-event" name="@Model.Value("rewardsMainTitle")-KnowMore" target="_blank">
                                                                <div class="prod-name">
                                                                    @Html.Raw(item.Value("rewardsContentTitle"))
                                                                </div>
                                                                <div class="brand-logo">
                                                                    <img src="@servThmbImg.Url()" alt="@item.Value("rewardsContentTitle")" />
                                                                </div>
                                                                <div class="sale-cont">
                                                                    <strong>@Umbraco.GetDictionaryValue("ReadMore")</strong>
                                                                </div>
                                                            </a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <a href="@itemURL" class="gtm-track-more-event" name="@Model.Value("rewardsMainTitle")-KnowMore">
                                                            <div class="prod-name">
                                                                @Html.Raw(item.Value("rewardsContentTitle"))
                                                            </div>
                                                            <div class="brand-logo">
                                                                <img src="@servThmbImg.Url()" alt="@item.Value("rewardsContentTitle")" />
                                                            </div>
                                                            <div class="sale-cont">
                                                                <strong>@Umbraco.GetDictionaryValue("ReadMore")</strong>
                                                            </div>
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-3">
                                                <div class="brand-box">
                                                    @{
                                                        var itemURL = item.Url();
                                                        IPublishedContent servItemlink = item.Value<IPublishedContent>("redirectPageLink");
                                                        if (servItemlink != null)
                                                        {
                                                            var servItemlinkType = servItemlink.Url();
                                                            itemURL = string.IsNullOrEmpty(servItemlinkType) ? null : servItemlinkType == null ? "" : servItemlinkType;
                                                        }
                                                    }
                                                   @if(item.Id == 1776)
                                                    {   
                                                           if(lang == "ar")
                                                        {
                                                            <a href="https://aldarhospitality.com/ar/darna-loyalty-program" class="gtm-track-more-event" name="@Model.Value("rewardsMainTitle")-KnowMore" target="_blank">
                                                                <div class="prod-name">
                                                                    @Html.Raw(item.Value("rewardsContentTitle"))
                                                                </div>
                                                                <div class="brand-logo">
                                                                    <img src="@servThmbImg.Url()" alt="@item.Value("rewardsContentTitle")" />
                                                                </div>
                                                                <div class="sale-cont">
                                                                    <strong>@Umbraco.GetDictionaryValue("ReadMore")</strong>
                                                                </div>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="https://aldarhospitality.com/darna-loyalty-program" class="gtm-track-more-event" name="@Model.Value("rewardsMainTitle")-KnowMore" target="_blank">
                                                                <div class="prod-name">
                                                                    @Html.Raw(item.Value("rewardsContentTitle"))
                                                                </div>
                                                                <div class="brand-logo">
                                                                    <img src="@servThmbImg.Url()" alt="@item.Value("rewardsContentTitle")" />
                                                                </div>
                                                                <div class="sale-cont">
                                                                    <strong>@Umbraco.GetDictionaryValue("ReadMore")</strong>
                                                                </div>
                                                            </a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <a href="@itemURL" class="gtm-track-more-event" name="@Model.Value("rewardsMainTitle")-KnowMore">
                                                            <div class="prod-name">
                                                                @Html.Raw(item.Value("rewardsContentTitle"))
                                                            </div>
                                                            <div class="brand-logo">
                                                                <img src="@servThmbImg.Url()" alt="@item.Value("rewardsContentTitle")" />
                                                            </div>
                                                            <div class="sale-cont">
                                                                <strong>@Umbraco.GetDictionaryValue("ReadMore")</strong>
                                                            </div>
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }
                            
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        